<div class="ui grid">
  <div class="twelve wide column">
    <form [formGroup]="settingsForm" (submit)="saveConfig($event)" class="ui form">
      <div [formGroup]="fileManagementConfig" class="field">
          <label for="fileManagementConfig-encryptRoot">File Management Encrypt Root</label>
          <input type="text" id="fileManagementConfig-encryptRoot" formControlName="encryptRoot" placeholder="path">
      </div>
      <div [formGroup]="fileManagementConfig" class="field">
        <label for="fileManagementConfig-decryptRoot">File Management Decrypt Root</label>
        <input type="text" id="fileManagementConfig-decryptRoot" formControlName="decryptRoot" placeholder="path">
      </div>
      <div [formGroup]="keyStorageConfig" class="field">
        <label for="keyStorageConfig-root">Key Storage Root</label>
        <input type="text" id="keyStorageConfig-root" formControlName="root" placeholder="path">
      </div>
      <div [formGroup]="connectionConfig" class="field">
        <label for="connectionConfig-root">Connection Root</label>
        <input type="text" id="connectionConfig-root" formControlName="root" placeholder="path">
      </div>
      <button type="submit" class="ui button primary" [ngClass]="{'positive': statusSuccess}">
        <i class="fa fa-check" aria-hidden="true" *ngIf="statusSuccess"></i>
        Save
      </button>
    </form>
  </div>
</div>