<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Language" content="en">
    <title>Paranoia</title>
</head>
<body>
<app>
    <h5 class="text-center text-error">
        Loading...
    </h5>
</app>
</body>
</html>