.file {
  @include flex-container(inline-flex, $justify-content: center, $flex-wrap: wrap);
  width: 100px;
  margin: 5px;
  i {
    display: block;
    font-size: 40px;
  }
  &__name {
    @include truncate();
    width: 100%;
    text-align: center;
  }
  &__file-type {

  }

  &__dir-type {

  }
}