/*
 * Colors
 */
$color-orange: tomato;
$color-error: #fd6586;
$color-success: #52be80;
$color-llgreen: #f3f7f8;

$color-llblue: #cdd6db;
$color-ddblue: #344453;

$color-grey: #8898a8;

/*
 * Margins
 */
$components-margin: 50px;
$header-margin-bottom: 20px;
$elements-inline-margin: 30px;

/*
 * FontSize
 */
$fs-xl: 30px;


/*
 * Other
 */
$avatar-edge: 30px;
