<div class="crypt-configuring">
  <div class="crypt-configuring__file-list">
    <div *ngFor="let file of fileEncryptionService.fileList; let i = index;">
      <div class="file-info">
        {{file.name}}
      </div>
      <div class="ui popup very wide">
        <h5>Full path</h5>
        <p>{{file.fullPath}}</p>
        <h5>Size</h5>
        <p>{{file.size}}</p>
      </div>
    </div>
  </div>
  <div class="crypt-configuring__config">
    <form class="ui form">
      <div class="field">
        <label>Select algorithm</label>
        <sm-select [control]="algorithm" placeholder="Select algorithm..." class="fluid search">
          <option *ngFor="let algorithm of cryptConfiguringService.algorithms">{{algorithm}}</option>
        </sm-select>
      </div>
      <div class="field vertical-stretch">
        <div class="ui pointing secondary menu">
          <a class="item active" data-tab="manual" (click)="typeOfForm = 'manual'">Manual</a>
          <a class="item" data-tab="keyStorage" (click)="typeOfForm = 'keyStorage'">Key Storage</a>
        </div>
        <div class="ui tab active" data-tab="manual">
          <div [formGroup]="manualConfiguringForm" class="crypt-configuring__form">
            <div class="field">
              <label>Password</label>
              <div class="ui right labeled input">
                <input type="text" class="password" placeholder="Enter password"
                       formControlName="password">
                <div class="ui label" (click)="hidePassword($event)">
                  <i class="fa fa-eye" aria-hidden="true"></i>
                </div>
              </div>
              <div *ngIf="manualConfiguringForm.controls.password.dirty &&
                        !manualConfiguringForm.controls.password.valid"
                   class="ui negative small message">
                <div [hidden]="!manualConfiguringForm.controls.password.errors.required">
                  Password field is required
                </div>
                <div [hidden]="!manualConfiguringForm.controls.password.errors.minlength">
                  Password field must have more then 6 characters
                </div>
              </div>
            </div>
            <div class="field">
              <div class="ui primary buttons">
                <div class="ui button" (click)="generatePassword($event)">Generate password</div>
                <div class="ui floating dropdown icon button">
                  <i class="dropdown icon"></i>
                  <div class="menu">
                    <div class="item" (click)="cryptConfiguringService.setPasswordSize(12)">
                      <div class="ui blue empty circular label"></div>
                      12 characters
                    </div>
                    <div class="item" (click)="cryptConfiguringService.setPasswordSize(16)">
                      <div class="ui yellow empty circular label"></div>
                      16 characters
                    </div>
                    <div class="item" (click)="cryptConfiguringService.setPasswordSize(20)">
                      <div class="ui red empty circular label"></div>
                      20 characters
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="field">
              <label>Salt</label>
              <div class="ui input">
                <textarea rows="6" placeholder="Enter salt" formControlName="salt">
                  </textarea>
              </div>
              <div *ngIf="manualConfiguringForm.controls.salt.dirty &&
                        !manualConfiguringForm.controls.salt.valid"
                   class="ui negative small message">
                <div [hidden]="!manualConfiguringForm.controls.salt.errors.required">
                  Salt field is required
                </div>
                <div [hidden]="!manualConfiguringForm.controls.salt.errors.minlength">
                  Salt field must have more then 6 characters
                </div>
              </div>
            </div>
            <div class="field">
              <div class="ui primary buttons">
                <div class="ui button" (click)="generateSalt($event)">Generate salt</div>
                <div class="ui floating dropdown icon button">
                  <i class="dropdown icon"></i>
                  <div class="menu">
                    <div class="item" (click)="cryptConfiguringService.setSaltSize(128)">
                      <div class="ui blue empty circular label"></div>
                      128 bit
                    </div>
                    <div class="item" (click)="cryptConfiguringService.setSaltSize(256)">
                      <div class="ui red empty circular label"></div>
                      256 bit
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ui tab" data-tab="keyStorage">
          <div class="field">Key Storage</div>
        </div>
      </div>
      <div>
        <button class="ui button right floated primary"
                (click)="setConfig($event)">
          <span *ngIf="fileEncryptionService.config.type === 'encrypt'">Encrypt</span>
          <span *ngIf="fileEncryptionService.config.type === 'decrypt'">Decrypt</span>
        </button>
        <button class="ui button right floated default"
                (click)="cancel($event)">Cancel
        </button>
      </div>
    </form>
  </div>
</div>