<div class="crypt-configuring">
  <div class="crypt-configuring__file-list">
    <div *ngFor="let file of fileEncryptionService.fileList; let i = index;">
      <div class="file-info">
        {{file.name}}
      </div>
      <div class="ui popup flowing">
        <h5>Full path</h5>
        <p>{{file.fullPath}}</p>
        <h5>Size</h5>
        <p>{{file.size}}</p>
      </div>
    </div>
  </div>
  <div class="crypt-configuring__config">
    <form class="ui form">
      <div class="field">
        <label>Select algorithm</label>
        <sm-select [(model)]="selectedAlgorithm" placeholder="Select algorithm..." class="fluid search">
          <option *ngFor="let algorithm of cryptConfiguringService.algorithms">{{algorithm}}</option>
        </sm-select>
      </div>
      <button class="ui button default" (click)="cancel($event)">Cancel</button>
    </form>
  </div>
</div>