.crypt-configuring {
  height: 100%;
  @include flex-container(flex, $align-items: stretch, $flex-wrap: nowrap);
  &__file-list {
    width: 30%;
    padding: 15px;
  }
  &__config {
    padding: 15px;
    @include flex-item($flex: 1 1 auto);
    .ui.form {
      height: 100%;
      @include flex-container(flex, $flex-direction: column);
      .vertical-stretch {
        @include flex-item($flex: 1 1 auto);
      }
    }
  }
  &__form {
    @include flex-container(flex, $flex-direction: column);
    &__item {
      width: 50%;
      &:first-child {
        padding-right: 1em;
      }
      &:last-child {
        padding-left: 1em;
      }
    }
    .ui.right.labeled.input {
      .ui.label {
        cursor: pointer;
      }
    }
  }

  .file-info {
    padding: 5px 0;
    @include truncate();
    cursor: default;
  }
}