.crypt-configuring {
  height: 100%;
  @include flex-container(flex, $align-items: stretch, $flex-wrap: nowrap);
  &__file-list {
    width: 30%;
    padding: 15px;
  }
  &__config {
    padding: 15px;
    @include flex-item($flex: 1 1 auto);
  }
  .file-info {
    padding: 5px 0;
    @include truncate();
    cursor: default;
  }
}