.app {
  width: 100%;
  height: 100%;
  @include flex-container(flex, $align-items: stretch);
  background-color: white;

  main-view {
    @include position(relative);
    @include flex-item($flex: 1);
  }
}