<div class="crypt-progress">
  <div class="crypt-progress__inner">
    <img src="" alt="">
    <div class="ui active progress" id="progressIndicator">
      <div class="bar">
        <div class="progress"></div>
      </div>
      <div class="label">{{_fileEncryptionService.config.type}} process start</div>
    </div>
  </div>
  <div class="crypt-progress__btn">
    <button class="ui button right floated primary" (click)="done($event)"
            [ngClass]="{'disabled': !isDone}">Done</button>
  </div>
</div>