<div class="app-menu">
  <div class="app-menu__direction app-menu__direction--top">
    <div class="app-menu__item">
      <i class="fa fa-shield" aria-hidden="true"></i>
    </div>
    <div class="app-menu__item">
      <i class="fa fa-key" aria-hidden="true"></i>
    </div>
    <div class="app-menu__item">
      <i class="fa fa-comment" aria-hidden="true"></i>
    </div>
  </div>
  <div class="app-menu__direction app-menu__direction--bottom">
    <div class="app-menu__item">
      <i class="fa fa-cog" aria-hidden="true"></i>
    </div>
  </div>
</div>