$menu-inner-padding: 15px;

.app-menu {
  width: 80px;
  height: 100%;
  @include position(relative);

  .app-menu--top {
    @include position(absolute, $top: $menu-inner-padding, $left: $menu-inner-padding, $right: $menu-inner-padding);
  }
  .app-menu--bottom{
    @include position(absolute, $bottom: $menu-inner-padding, $left: $menu-inner-padding, $right: $menu-inner-padding);
    height: auto;
  }

  i {
    font-size: 1.5rem;
  }
  .ui.labeled.icon.menu .item {
    @include position(relative);
    min-width: initial;
  }
}