<div class="app-menu">
  <div class="ui vertical labeled icon menu app-menu--top">
    <div data-tooltip="File encryption" data-position="right center">
      <a class="item" routerLink="/file-encryption" routerLinkActive="active">
        <i class="fa fa-shield" aria-hidden="true"></i>
      </a>
    </div>
    <div data-tooltip="Key storage" data-position="right center">
      <a class="item" routerLink="/key-storage" routerLinkActive="active">
        <i class="fa fa-key" aria-hidden="true"></i>
      </a>
    </div>
    <div data-tooltip="RSA" data-position="right center">
      <a class="item" routerLink="/rsa" routerLinkActive="active">
        <i class="fa fa-comment" aria-hidden="true"></i>
      </a>
    </div>
  </div>

  <div class="ui vertical labeled icon menu app-menu--bottom">
    <div data-tooltip="Settings" data-position="right center">
      <a class="item" routerLink="/settings" routerLinkActive="active">
        <i class="fa fa-cog" aria-hidden="true" ></i>
      </a>
    </div>
  </div>
</div>