<div class="file-management">
  <div class="file-management__encrypt">
    <div class="file-management__encrypt-nav">
      <button class="ui button"
              (click)="encryptFileManagementService.getPreviousState()">
        Prev
      </button>
      <button class="ui button"
              (click)="encryptFileManagementService.getNextState()">
        Next
      </button>
      <button class="ui primary button"
              (click)="encryptFileManagementService.addFiles()">
        Add
      </button>
    </div>
    <div class="file-management__encrypt-list"
         (click)="encryptFileListService.unselectedList($event, encryptList)">
      <div class="file" *ngFor="let file of encryptList"
           [ngClass]="{'file__file-type': file.type === 'file',
         'file__dir-type': file.type === 'dir',
         'file__unknown-type': file.type === null,
         'file--selected': file.isSelected()}">
        <i class="fa" aria-hidden="true" [ngClass]="{'fa-file': file.type === 'file',
         'fa-folder': file.type === 'dir',
         'fa-file-o': file.type === null}"
           (click)="file.switchSelection($event)"
           (dblclick)="file.enter($event, encryptFileManagementService)"
           (contextmenu)="file.contextMenu($event, encryptFileManagementService)"></i>
        <div class="file__name"
             (click)="file.switchSelection($event)"
             (dblclick)="file.enter($event, encryptFileManagementService)"
             (contextmenu)="file.contextMenu($event, encryptFileManagementService)">
          {{file.name}}
        </div>
      </div>
    </div>
    <div class="file-management__encrypt-btn">
      <button class="ui primary button"
              (click)="startConfiguring($event, 'encrypt')">
        Encrypt
      </button>
    </div>
  </div>
  <div class="file-management__decrypt">
    <div class="file-management__decrypt-nav">
      <button class="ui button"
              (click)="decryptFileManagementService.getPreviousState()">
        Prev
      </button>
      <button class="ui button"
              (click)="decryptFileManagementService.getNextState()">
        Next
      </button>
      <button class="ui primary button"
              (click)="decryptFileManagementService.addFiles()">
        Add
      </button>
    </div>
    <div class="file-management__decrypt-list"
         (click)="decryptFileListService.unselectedList($event, decryptList)">
      <div class="file" *ngFor="let file of decryptList"
           [ngClass]="{'file__file-type': file.type === 'file',
         'file__dir-type': file.type === 'dir',
         'file__unknown-type': file.type === null,
         'file--selected': file.isSelected()}">
        <i class="fa" aria-hidden="true" [ngClass]="{'fa-file': file.type === 'file',
         'fa-folder': file.type === 'dir',
         'fa-file-o': file.type === null}"
           (click)="file.switchSelection($event)"
           (dblclick)="file.enter($event, decryptFileManagementService)"
           (contextmenu)="file.contextMenu($event, decryptFileManagementService)"></i>
        <div class="file__name"
             (click)="file.switchSelection($event)"
             (dblclick)="file.enter($event, decryptFileManagementService)"
             (contextmenu)="file.contextMenu($event, decryptFileManagementService)">
          {{file.name}}
        </div>
      </div>
    </div>
    <div class="file-management__decrypt-btn">
      <button class="ui primary button"
              (click)="startConfiguring($event, 'decrypt')">
        Decrypt
      </button>
    </div>
  </div>
</div>