<div class="ui grid">
  <div class="seven wide column" >
    <div class="file" *ngFor="let file of encryptList"
         [ngClass]="{'file__file-type': file.type === 'file', 'file__dir-type': file.type === 'dir', 'file__unknown-type': file.type === null}">
      <i class="fa fa-file" aria-hidden="true"
         [ngClass]="{'fa-file': file.type === 'file', 'fa-folder': file.type === 'dir', 'fa-file-o': file.type === null}"></i>
      <div class="file__name">{{file.name}}</div>
    </div>
  </div>
  <div class="seven wide column" >
    <div class="file" *ngFor="let file of decryptList"
         [ngClass]="{'file__file-type': file.type === 'file', 'file__dir-type': file.type === 'dir', 'file__unknown-type': file.type === null}">
      <i class="fa fa-file" aria-hidden="true"
         [ngClass]="{'fa-file': file.type === 'file', 'fa-folder': file.type === 'dir', 'fa-file-o': file.type === null}"></i>
      <div class="file__name">{{file.name}}</div>
    </div>
  </div>
</div>